# SBT files
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.history
.cache
.lib/

# Scala files
*.class
*.log

# Docker data
dev-environment/data
dev-environment/mlflow/models/*/mlruns

#IDE files
.idea/
.bsp/
