upstream mlflow {
    server ${MLFLOW_URL};
}

upstream model1 {
    server ${MODEL_1_URL};
}

upstream model2 {
    server ${MODEL_2_URL};
}

server {
    listen ${NGINX_PORT};
    gzip on;

    location /1/invocations {
        client_max_body_size 16m;
        rewrite /1/invocations /invocations break;
        proxy_pass      http://model1;
    }

    location /2/invocations {
        client_max_body_size 16m;
        rewrite /2/invocations /invocations break;
        proxy_pass      http://model2;
    }

    location / {
        proxy_pass      http://mlflow;
    }
}
