upstream pmml {
    server ${PMML_SAMPLES_URL};
}

server {
    listen ${NGINX_PMML_STATIC_PORT};
    server_name static-data;

    location /static/int {
        rewrite /static/int /int break;
    }
    location /static/double {
        rewrite /static/double /double break;
    }
    location /static/boolean {
        rewrite /static/boolean /boolean break;
    }
    location /static/string {
        rewrite /static/string /string break;
    }
}

server {
    listen ${PMML_SAMPLES_PORT};
    server_name pmml-samples;

    location / {
        proxy_pass http://pmml;
    }
}
