version: '3.8'

services:

  mlflow-proxy:
    image: nginx:alpine
    restart: always
    volumes:
      - ./nginx/mlflow/templates:/etc/nginx/templates
      - ./nginx/mlflow/static:/etc/nginx/html
    ports:
      - "${MLFLOW_SERVER_PORT}:${MLFLOW_SERVER_PORT}"
      - "${NGINX_BUCKET_PORT}:${NGINX_BUCKET_PORT}"
      - "${MLF_NGINX_STATIC_PORT}:${MLF_NGINX_STATIC_PORT}"
    environment:
      - NGINX_MLFLOW_PORT=${MLFLOW_SERVER_PORT}
      - NGINX_BUCKET_PORT=${NGINX_BUCKET_PORT}
      - MLFLOW_URL=mlflow-server:${MLFLOW_SERVER_PORT}
      - MLF_NGINX_STATIC_PORT=${MLF_NGINX_STATIC_PORT}
      - MODEL_1_URL=mlflow-server:${MODEL_1_PORT}
      - MODEL_2_URL=mlflow-server:${MODEL_2_PORT}
      - MODEL_3_URL=mlflow-server:${MODEL_3_PORT}
      - BUCKET_URL=aws-mlflow:${NGINX_BUCKET_PORT}
    networks:
      - mlflow-net
      - dev-bridge-net

  mlflow-server:
    image: docker.pkg.github.com/prinz-nussknacker/prinz/mlflow-server:0.2.0
    restart: always
    environment:
      - ARTIFACT_LOCATION=s3://mlflow
      - AWS_ACCESS_KEY_ID=mlflow-key
      - AWS_SECRET_ACCESS_KEY=mlflow-secret
      - BACKEND_STORE_URI=postgresql://mlflow:mlflow@postgres-mlflow/mlflow
      - MLFLOW_HOME=/opt/mlflow
      - MLFLOW_S3_ENDPOINT_URL=http://mlflow-proxy:${NGINX_BUCKET_PORT}
      - MLFLOW_SERVER_HOST=0.0.0.0
      - MLFLOW_SERVER_PORT=${MLFLOW_SERVER_PORT}
      - MLFLOW_TRACKING_URI=postgresql://mlflow:mlflow@postgres-mlflow/mlflow
      - MLFLOW_WORK_DIR=/home/mlflow
      - MODEL_1_PORT=${MODEL_1_PORT}
      - MODEL_2_PORT=${MODEL_2_PORT}
      - MODEL_3_PORT=${MODEL_3_PORT}
    volumes:
      - ./mlflow/models:/home/mlflow/models
    networks:
      - mlflow-net
    depends_on:
      - postgres-mlflow
      - aws-mlflow

  postgres-mlflow:
    image: postgres:12-alpine
    restart: always
    environment:
      - POSTGRES_DB=mlflow
      - POSTGRES_USER=mlflow
      - POSTGRES_PASSWORD=mlflow
    ports:
      - "${POSTGRES_PORT}:${POSTGRES_PORT}"
    networks:
      - mlflow-net

  aws-mlflow:
    build: ./minio
    volumes:
      - mlflow_aws_data:/mlflow-storage
    environment:
      - MINIO_ACCESS_KEY=mlflow-key
      - MINIO_SECRET_KEY=mlflow-secret
      - BUCKET_NAME=mlflow
      - STORAGE=mlflow-storage
    networks:
      - mlflow-net

networks:
  mlflow-net:
    driver: bridge
  dev-bridge-net:
    driver: bridge
    external: true

volumes:
  mlflow_aws_data:
