version: '3.8'

services:

  mlflow-server:
    build: ./mlflow
#    image: docker.pkg.github.com/prinz-nussknacker/prinz/mlflow-server:0.1.1
    restart: always
    environment:
      - BACKEND_STORE_URI=postgresql://mlflow:mlflow@postgres-mlflow/mlflow
      - MLFLOW_TRACKING_URI=postgresql://mlflow:mlflow@postgres-mlflow/mlflow
      - ARTIFACT_LOCATION=s3://mlflow
      - MLFLOW_S3_ENDPOINT_URL=http://proxy:9000
      - AWS_ACCESS_KEY_ID=mlflow-key
      - AWS_SECRET_ACCESS_KEY=mlflow-secret
      - SERVER_PORT=5000
      - MODEL_1_PORT=1234
      - MODEL_2_PORT=4321
      - MLFLOW_WORK_DIR=/home/mlflow
    volumes:
      - ./mlflow/models:/home/mlflow/models
    networks:
      - mlflow-net
    depends_on:
      - postgres-mlflow
      - aws-mlflow

  postgres-mlflow:
    image: postgres:12-alpine
    restart: always
    environment:
      - POSTGRES_DB=mlflow
      - POSTGRES_USER=mlflow
      - POSTGRES_PASSWORD=mlflow
    ports:
      - "5432:5432"
    networks:
      - mlflow-net

  aws-mlflow:
    build: ./minio
    volumes:
      - mlflow_aws_data:/mlflow-storage
    environment:
      - MINIO_ACCESS_KEY=mlflow-key
      - MINIO_SECRET_KEY=mlflow-secret
      - BUCKET_NAME=mlflow
      - STORAGE=mlflow-storage
    networks:
      - mlflow-net

  proxy:
    image: nginx:alpine
    restart: always
    volumes:
      - ./nginx/templates:/etc/nginx/templates
    ports:
      - "5000:5000"
      - "9000:9000"
    environment:
      - NGINX_MLFLOW_PORT=5000
      - NGINX_BUCKET_PORT=9000
      - MLFLOW_URL=mlflow-server:5000
      - MODEL_1_URL=mlflow-server:1234
      - MODEL_2_URL=mlflow-server:4321
      - BUCKET_URL=aws-mlflow:9000
    networks:
      - mlflow-net
      - dev-bridge-net
    depends_on:
      - mlflow-server

networks:
  mlflow-net:
    driver: bridge
  dev-bridge-net:
    driver: bridge
    external: true

volumes:
  mlflow_aws_data:
