name: Check code quality
on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master
jobs:
  check-code-quality:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Git repository
        uses: actions/checkout@v2
      - name: Test for trailing whitespace
        run: ./.github/scripts/trailing_whitespace_check.sh
      - name: Check for missing newlines
        uses: fernandrone/linelint@master
      - name: Verify YAML files
        uses: ibiqlik/action-yamllint@v3
        with:
          config_data: |
            extends: default
            rules:
              document-start:
                present: false
              truthy:
                check-keys: false
      - name: Set up Java
        run: |
          wget -O- https://apt.corretto.aws/corretto.key | sudo apt-key add -
          sudo add-apt-repository 'deb https://apt.corretto.aws stable main'
          sudo apt-get update && \
          sudo apt-get install -y java-1.8.0-amazon-corretto-jdk
      - name: Run Scalastyle
        run: ./sbtwrapper prinz/scalastyle && ./sbtwrapper prinz_sample/scalastyle
