name: Run unit tests
on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master
jobs:
  unit-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Git repository
        uses: actions/checkout@v2
      - name: Login to Docker
        run: >
          echo "${{ secrets.GITHUB_TOKEN }}" | docker login
          https://docker.pkg.github.com -u ${GITHUB_ACTOR} --password-stdin
      - name: Run Unit Tests
        run: >
          cd dev-environment/ && ./clear_environment.sh && cd .. &&
          ./sbtwrapper prinz/test &&
          ./sbtwrapper prinz_mlflow/test &&
          ./sbtwrapper prinz_pmml/test &&
          ./sbtwrapper prinz_h2o/test
